header > h1 {
  text-align: center;
  font-size: 22px;
}

header > a {
  font-style: italic;
}

section > h2 {
  text-align: center;
}

caption {
  text-align: end;
}

th {
  text-align: center;
  background-color: green;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) > td {
  background-color: gray;
  color: white;
}

table, th, td {
  border: 2px solid black;
  padding: 15px;
}

td:last-child {
  text-align: end;
}