h1 {
  text-align: center;
  font-size: 24px;
}

p {
  font-size: 120%;
}

a {
  font-size: 20px;
}

.wrapper {
  display: grid;
  justify-items: center;
}

.grid-item:first-of-type a:link {
  color: blue;
}

.grid-item:first-of-type a:visited {
  color: chocolate;
}

.grid-item:nth-of-type(2) a:link {
  color: red;
}

.grid-item:nth-of-type(2) a:visited {
  color: darkcyan;
}

.grid-item:nth-of-type(3) a:link {
  color: green;
}

.grid-item:nth-of-type(3) a:visited {
  color: darkmagenta;
}

.grid-item:last-of-type a:link {
  color: orange;
}

.grid-item:last-of-type a:visited {
  color: mediumvioletred;
}

@media (min-width: 993px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}